/* WHITE for h1 and background body color: #FFFFFF; */

/* IRIS color for logo and button background color: #4D5AE5;*/

/* NAVY BLUE for header and main-text color: #2E2F42; */

/* SLATE for small text color: #434455; */

body {
    font-family: 'Roboto';
}

header {}

.link,
.logo {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #2E2F42;
}

.logocolor {
    color: #4D5AE5;
}

.list {
    list-style: none;
}

.menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.mailto,
.contact-phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

main {}

p {
    color: #434455;
}

.principles {
    display: none;
}

footer {}